<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <!-- VO Nature -->
   <extension
         id="vonature"
         name="VO Dictionary Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.sschoi.vodict.plugin.builder.VONature"/>
      </runtime>
   </extension>

   <!-- VO Builder -->
   <extension
         id="vobuilder"
         name="VO Dictionary Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="com.sschoi.vodict.plugin.builder.VOBuilder"/>
      </builder>
   </extension>

   <!-- VO Marker -->
   <extension
         id="marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>

   <!-- Quick Fix Processor -->
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <processor
            class="com.sschoi.vodict.plugin.quickfix.QuickFixProcessor"
            id="com.sschoi.vodict.plugin.quickfixprocessor"/>
   </extension>

</plugin>
